speech-based/build/
speech-based/api.key
speech-based/SpeechGPT.spec
text-based/TextGPT.spec
speech-based/test.mp3
speech-based/test.py
text-based/build/
text-based/api.key
text-based/data.json
api.key